.footer{
    width:100%;
	text-align:center;
	overflow:hidden;
	font-size:25px;
	background-color:white;
}
.slika{
    width:20%;
}
.logofooter{
    width:100px;
    height:100px;
    float: left;
 
}
.Company{
    font-size:14px;
	line-height:26px;
    color:3399FF;
    float:left;
	width:20%;
	line-height:2;
	text-align:left;
}
.Company h2{
    margin:0;
    color:3399FF;
}
.Services{
    font-size:14px;
	line-height:26px;
	color:#fff;
	float:left;
	width:20%;
	line-height:2;
	text-align:left;
}
.Services h2{
    color:3399FF;
    margin:0;
}
.Contact{
    font-size:14px;
	line-height:26px;
	color:#fff;
	float:left;
	width:20%;
	line-height:2;
	text-align:left;
}
.Contact h2{
    color:3399FF;
    margin:0;
}
.Newsletter{
    font-size:14px;
	line-height:26px;
	color:#fff;
	float:left;
	width:20%;
	line-height:2;
	text-align:left;
}
.Newsletter h2{
    color:3399FF;
    margin: 0;
}