
#mainavigation{
  position:relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding:0;
  background-color:#ffffff;
  overflow: hidden;
  color: #002542;
  list-style-type:none;
  margin: 0;
  padding: 0;
}
.justofy-content-end a {
  font-size:14px;
  width:20%;
  float:left;
  line-height: 2;
}
#navbarSupportedContent{
  list-style-type:none;
}
.navigation{
  list-style-type: none;
}
.hero{
  width:100%;
	height:600px;
	background-size:cover;
  position:relative;
  display: block;
  overflow:hidden;  
}
.container-fluid{
  padding:none;
  margin: none;
}
.container-fluid h2{
  position: absolute;
  top: 50%;
  font-size:55px;
  left: 50%;
  transform: translate(-50%, -50%);
  color:#ffffff;
}
.container-fluid p{
  position: absolute;
  top: 65%;
  font-size:20px;
  left: 25%;
  transform: translate(-10%, -10%);
  color:#ffffff;
}
   .navigation a:hover {
    border-bottom: 3px solid #00baff;
    color:#00baff;
    
  }
  .jumbotron{
    padding-top:0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: -6px;
    margin-right: 0;
  }
  .container-fluid{
    padding-left: 0;
  }
 .navigation a.active {
    border-bottom: 3px solid #00baff;
  }
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: #002542;;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    text-transform:uppercase;

  }
  .phonenumber {

  display: block;
  position:relative;
  right:30px;
  float:right;
  overflow:hidden;
  display:block;

  }
.btn-cover{
  border: 0;
  border-radius: 300px;
  text-transform: uppercase;
  font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
  font-weight: 700;
  background-repeat:no-repeat;
  overflow: hidden;
}
  
